    /*Loader Css*/      
#modalwindow {
        display:none;
    }
    
#modalwindow img, .modalwindowimg {
        opacity:1;
        filter:alpha(opacity=100);
        margin:100px;
       
    }
.modalshow{
        position:fixed;
        top:0px;
        left:0px;
        background-color:#FFF;
        opacity:0.8;
        filter:alpha(opacity=80);
        color:#000;
        z-index:9999999;
        display:block;
        padding:100px;
        text-align:center;
    }

    .modalhide{
        position:fixed;
        top:0px;
        left:0px;
        display:none;
    }

    .hidden{display: none;}
   /*Loader Css*/  
    a{text-decoration:none; }

    .navbar a:hover {
            text-decoration: none;
            color: #fff;
        }

body {
            background-color: #f8f9fa;
            font-size: 14px;
        }
        .topbar {
            background: #243b8a;
        }
        .topbar a {
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
            font-size: 14px;
        }
        .login-card {
            border: 1px solid #ddd;
            text-align: center;
            padding: 25px;
            height: 100%;
        }
        .login-card h5 {
            margin-bottom: 15px;
        }
        .footer-note {
            font-size: 13px;
            color: #555;
        }

a, a:hover, .sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .summary-number {
    color: #1d2e7b;
}  

